@import "media.scss";

body {
	-webkit-font-smoothing: antialiased;
	font: 400 14px "Helvetica", "Open Sans", sans-serif;
	color: #999999;
	margin: 0;
	background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

a {
	text-decoration: none;
}

// .btn-big {
// 	font-size: 0.9em;
// 	padding: 0.5em 0.8em;
// }

.drag {
	-webkit-app-region: drag;
	-ms-overflow-style: scrollbar;
}
