<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta name="description" content="Boilerplate!">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/manifest.json">
		<meta name="robots" content="index" />

		<script type="text/javascript">
			if (document.location.origin.startsWith('http')) {
				document.write("<base href='/' />");
			} else {
				document.write("<base href='./' />");
			}
		</script>
		
		<% if (htmlWebpackPlugin.options.manifest.short_name) { %>
			<meta name="application-name" content="<%= htmlWebpackPlugin.options.manifest.short_name %>">
		<% } %>
		<% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
			<meta name="theme-color" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
		<% } %>
		<% for (var chunk of webpack.chunks) { %>
		 <% if (chunk.names.length === 1 && chunk.names[0] === 'polyfills') continue; %>
			<% for (var file of chunk.files) { %>
				<% if (htmlWebpackPlugin.options.preload && file.match(/\.(js|css)$/)) { %>
					<link rel="preload" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
				<% } else if (file.match(/manifest\.json$/)) { %>
					<link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath + file %>">
				<% } %>
			<% } %>
		<% } %>
	</head>
	<body>
		<noscript>Your browser not supporting Javascript apps. Please install Firefox or Chrome while using this app.</noscript>
		<%= htmlWebpackPlugin.options.ssr({
			url: '/'
		}) %>
		<script defer src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
		<script>window.fetch||document.write('<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>')</script>
	</body>
</html>
